<h1 class="title">
  {{title}}
</h1>
<app-my-component-template [name]="'Jefferson'"></app-my-component-template>
<nav class="nav-bar">
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/my-http" routerLinkActive="active">My HTTP</a>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
