<h2>About</h2>
<nav class="anchors">
  <span [routerLink]="[route.snapshot.url]" fragment="contact">Contact</span>
  <span [routerLink]="[route.snapshot.url]" fragment="team">Team</span>
  <span [routerLink]="[route.snapshot.url]" fragment="info">Info</span>
</nav>
<section class="show">
  <article id="contact">
    <h3>Contact</h3>
    <p appHighlight>Something here about how to contact us.</p>
    <input placeholder="name" (keyup)="onKey($event)"/>
    <span>{{nameVal}}</span>
  </article>
  <article id="team">
    <h3>Team</h3>
    <p>Team members</p>
  </article>
  <article id="info">
    <h3>Info</h3>
    <p>Information about the team.</p>
  </article>
</section>
